

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Dostępne diety</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="auto" class="text-center">
                        Numer
                    </th>
                    <th style="auto" class="text-center">
                        Nazwa diety
                    </th>
                    <th style="auto" class="text-center">
                        Indeks glikemiczny
                    </th>
                    <th style="auto" class="text-center">
                        Zawartość protein
                    </th>
                    <th style="auto" class="text-center">
                        Zawartość węglowodanów
                    </th>
                    <th style="auto" class="text-center">
                        Zawartość tłuszczu
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>
                            1
                        </p>
                    </td>
                    <td>
                        Nazwa Diety
                        <br />
                        <small>
                            Polecana dla diebetyków
                        </small>
                    </td>
                    <td>
                        <p class="text-center">
                            Średni
                        </p>
                    </td>
                    <td>
                        <p class="text-center">
                            Średnia
                        </p>
                    </td>
                    <td>
                        <p class="text-center">
                            Niska
                        </p>
                    </td>
                    <td>
                        <p class="text-center">
                            Średnia
                        </p>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="/dietdescryption">
                            <i class="fas fa-folder">
                            </i>
                            Zobacz więcej informacji
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
@code {

}
