@inherits LayoutComponentBase

<TopNav />

<NavMenu />

        <ErrorBoundary>
            <ChildContent>
                <div class="content-wrapper">
                    @Body
                </div>
            </ChildContent>
            <ErrorContent>
                <p>Sorry there is nothing here to see!</p>
            </ErrorContent>
        </ErrorBoundary>

  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2022 <a href="/">Menager diet</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> Beta 1.0
    </div>
  </footer>