@page "/dietdescryption"


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">


                        <h3 class="profile-username text-center">Dieta niskoglikemiczna</h3>



                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Indeks glikemiczny:</b> <p class="float-right">Niski</p>
                            </li>
                            <li class="list-group-item">
                                <b>Zawartość białka</b> <a class="float-right">Średnie</a>
                            </li>
                            <li class="list-group-item">
                                <b>Zawartość węglowodanych</b> <a class="float-right">Niska</a>
                            </li>
                            <li class="list-group-item">
                                <b>Zawartość tłuszczów</b> <a class="float-right">Średnia</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-success btn-block"><b>Przypisz diętę do konta</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Me</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Education</strong>

                        <p class="text-muted">
                            B.S. in Computer Science from the University of Tennessee at Knoxville
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                        <p class="text-muted">Malibu, California</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">UI Design</span>
                            <span class="tag tag-success">Coding</span>
                            <span class="tag tag-info">Javascript</span>
                            <span class="tag tag-warning">PHP</span>
                            <span class="tag tag-primary">Node.js</span>
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Opis diety</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Przykładowe dania</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Przeciwskazania</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <p>
                                    Dieta ta jest przeznaczona dla osób którym zależy na niskim ideksie glikemiczny
                                </p>
                                <!-- /.post -->
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Dostępne diety</h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <table class="table table-striped projects">
                                            <thead>
                                                <tr>
                                                    <th style="auto" class="text-center">
                                                        Numer
                                                    </th>
                                                    <th style="auto" class="text-center">
                                                        Nazwa diety
                                                    </th>
                                                    <th style="auto" class="text-center">
                                                        Indeks glikemiczny
                                                    </th>
                                                    <th style="auto" class="text-center">
                                                        Zawartość protein
                                                    </th>
                                                    <th style="auto" class="text-center">
                                                        Zawartość węglowodanów
                                                    </th>
                                                    <th style="auto" class="text-center">
                                                        Zawartość tłuszczu
                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            1
                                                        </p>
                                                    </td>
                                                    <td>
                                                        Dieta niskoglikemiczna
                                                        <br />
                                                        <small>
                                                            Polecana dla diebetyków
                                                        </small>
                                                    </td>
                                                    <td>
                                                        <p class="text-center">
                                                            Średni
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center">
                                                            Średnia
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center">
                                                            Niska
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p class="text-center">
                                                            Średnia
                                                        </p>
                                                    </td>
                                                    <td class="project-actions text-right">
                                                        <a class="btn btn-primary btn-sm" href="/dietdescryption">
                                                            <i class="fas fa-folder">
                                                            </i>
                                                            Zobacz więcej informacji
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputName" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->